h1{
    display: flex;
    text-align: center;
    justify-content: center;
}
p{
    display: flex;
    text-align: center;
    justify-content: center;
}
p1{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
}
div{
    
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: row; */

}
#board-base{
    width: 480px;
    height: 480px;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.grid {
    width: 48px;
    height: 48px;
    border: 1px solid rgb(214, 214, 214);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
}

.num{
    width: 44px;
    height: 44px;
    border: 1px solid black;
    margin: 2px;
    display: flex;
    justify-content: center;
    font-size: 35px;
}
.cellElement-background{
    width: 48px;
    height: 48px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
    background-color: rgb(201, 201, 201);
    color: rgb(0, 0, 0);
}
form{
    display: flex;
    flex-direction : column;
    align-items: center;
    justify-content: center;
    /* padding-bottom: 410px; */
    font-size: 50px;
    
    
}
.selected{
    background-color: green;
}
.gridSolution{
    width: 48px;
    height: 48px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
}

input[type="submit"] {
    padding: 10px 20px; /* Adjust padding values as needed */
    font-size: 15px; /* Adjust font size as needed */
    padding: 20px;

}

.container {
    width: 620px;
    margin: 0 auto;
    /* padding-left: 430px; */
    /* justify-content: space-around; */
}

.horizontal-line{
    border-bottom: 1px solid black;
}
.vertical-line{
    border-right: 1px solid black;
}
.correct{
    width: 48px;
    height: 48px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
    /* background-color: rgb(201, 201, 201); */
    color: rgb(0, 0, 0);
    background-color: rgba(63, 134, 228, 0.63);
}

